ROLE=follower
PORT=3002
LEADER_URL=http://localhost:3001
FOLLOWER1_URL=http://localhost:3002
FOLLOWER2_URL=http://localhost:3003
FOLLOWER3_URL=http://localhost:3004
FOLLOWER4_URL=http://localhost:3005
MONGODB_URI=your_mongo_uri_for_follower_node_1_here