ROLE=follower
PORT=3003
NODE0_URL=http://localhost:3001
NODE1_URL=http://localhost:3002
NODE2_URL=http://localhost:3003
NODE3_URL=http://localhost:3004
NODE4_URL=http://localhost:3005
MONGODB_URI=your_mongo_uri_for_follower_node_2_here